@font-face {
    font-family: "CircularStdBook";
    src: url("/static/assets/fonts/CircularStd-Book.otf");
    }
    @font-face {
      font-family: "CircularStdMedium";
      src: url("/static/assets/fonts/CircularStd-Medium.otf");
      }
    @font-face {
        font-family: "CircularStdBold";
        src: url("/static/assets/fonts/CircularStd-Bold.otf");
    }
      @font-face {
        font-family: "CircularStdBlack";
        src: url("/static/assets/fonts/CircularStd-Black.otf");
    }

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

body > div {
    height: 100vh;
    width: 50%;
}

.right-div {
    overflow: scroll;
}

.left-div > div {
    height: 100%;
    border: none;
    background-color: rgba(60, 63, 102, 0.38);
}

div#logo > img {
    width: 120px;
}

div#logo {
    padding: 40px;
}

.left-div {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 700px 400px;
    position: relative;
    z-index: 1;
    background-image: url(https://socialfaim.com/svg/loginillustration.svg);
}

.influencers {
    display: grid;
    grid-template-columns: 0.9fr 0.9fr 0.9fr 0.9fr;
    height: 70vh;
    overflow: auto;
    padding: 35px 45px;
    text-align: center;
}

.influencerchoices {margin: 5px 9px;font-family: CircularStdMedium;font-size: 12px;border-radius: 6px;overflow: hidden;height: fit-content;cursor: pointer;transition: all 0.3s ease-out;}

.influencerchoices:active {
    transform: scale(0.9);
}
.influencerchoices.active > div:first-child {
    /* box-shadow: -1px 6px 20px -10px #47c1c9; */
    border: 2px solid #47c1c9;
    border-radius: 10px;
    overflow: hidden;
}
.influencerchoices > div > img {
    width: 100%;
    height: auto;
    min-height: 100px;
}
.head {
    font-family: CircularStdBook;
    font-size: 22px;
    padding: 15px 0;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}

.nextbtn {
    background-color: #dee0f5;
    color: #b1b3c2;
    padding: 10px 24px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    font-family: CircularstdMedium;
    font-size: 14px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    width: 80px;
}

.nextbtn.active {
    background-color: #00d6e4;
    color: #fafafa;
}
.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.nextbtn:active {
    transform: scale(0.9);
}

.influencerchoices > div:last-child {
    padding: 5px 0;
    /* background: #80808014; */
    margin: 0;
    /* border: 1px solid #eee; */
}

.influencerchoices.active {
    color: #00b4bf;
}

.influencerchoices > div:first-child {
    margin: 0;
    position: relative;
    height: 100px;
    overflow: hidden;
    border-radius: 7px;
}
.influencerchoices:focus {
    outline: none;
}

.influencerchoices.active > div:first-child {
}

.overlay {
    width: 100%;
    height: 100%;
    background: #0de2f230;
    position: absolute;
    display: none;
}

.influencerchoices.active > div > div.overlay {
    display: block;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1260px) {
    body {
        margin: 0;
        width: 100vw;
        overflow-x: hidden;
        height: 100%;
    }
    body > div {
        height: fit-content;
        width: 100vw;
    }
    .left-div {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 340px 440px;
        position: relative;
        z-index: 1;
        background-image: url(https://socialfaim.com/svg/loginillustration.svg);
        height: 345px;
    }
    div#logo {
        position: sticky;
        top: 20px;
        padding: 20px 40px;
    }
    .influencers {
        display: grid;
        grid-template-columns: 0.9fr 0.9fr 0.9fr 0.9fr;
        height: 70vh;
        overflow: auto;
        padding: 35px 20px;
        text-align: center;
    }
    .foot {
        position: fixed;
        bottom: 10px;
        width: 100%;
        padding: 0;
    }
    
    .head {
        font-size: 16px;
        text-align: center;
        padding: 14px 61px;
    }
}   